{{ partial "social/web.html" . }}

{{ partial "social/facebook.html" . }}
{{ partial "social/instagram.html" . }}
{{ partial "social/tiktok.html" . }}
{{ partial "social/x.html" . }}
{{ partial "social/bluesky.html" . }}
{{ partial "social/threads.html" . }}
{{ partial "social/youtube.html" . }}

{{ partial "social/bandcamp.html" . }}
{{ partial "social/bandsintown.html" . }}
{{ partial "social/soundcloud.html" . }}
{{ partial "social/songkick.html" . }}
{{ partial "social/mixcloud.html" . }}

{{ partial "social/tidal.html" . }}
{{ partial "social/spotify.html" . }}
{{ partial "social/deezer.html" . }}
{{ partial "social/apple.html" . }}
{{ partial "social/amazon.html" . }}
{{ partial "social/qobuz.html" . }}

{{ partial "social/whatsapp.html" . }}
{{ partial "social/map.html" . }}
