{{ $padding := cond (eq .index 0) "pb-2" "py-2" }}
<tr class="{{ cond (eq .index 0) "" "border-top" }} border-primary" style="--bs-border-opacity: 0.25;">
    <!-- Date & time-->
    <td class="{{ $padding }} text-nowrap align-middle">
        <p class="d-flex mb-0 pt-1 align-items-center">
            <i class="fa fa-2xs text-muted fa-clock ms-1"></i>
            <small class="text-white ms-2">
                {{ partial "format/date.html" .event.Date }}
                <br>
                <small><small class="text-white-50">{{ partial "format/time.html" .event.Date }}</small></small>
            </small>
        </p>
    </td>

    <!-- Artists & locations -->
    <td class="{{ $padding }} text-white-50 align-middle">
        <p class="mb-0 d-flex">
            <i class="fa fa-xs text-muted fa-music ms-1 mt-2"></i>
            <span class="ms-2">
                {{ with .event.Params.festival }}
                    {{- partial "festivals/link.html" . }} :
                {{ end }}
                {{ range $index, $id := .event.Params.artists }}
                    {{- if (gt $index 0) }}, {{ end -}}
                    {{ partial "artists/link.html" $id -}}
                {{- end }}
            </span>
        </p>

        <p class="mb-0 d-flex align-items-center">
            <i class="fa fa-xs text-muted fa-map-marker-alt ms-1"></i>
            <small class="ms-2 opacity-50"><small>{{ partial "locations/link.html" .event.Params.locationId }}</small></small>
        </p>
    </td>

    <td class="{{ $padding }} text-nowrap text-center align-middle {{ cond .event.Params.full "text-warning" (cond .event.Params.cancelled "text-danger text-decoration-line-through" "text-primary") }}">
        {{ with .event.Params.tickets }}
            <a target="_blank" rel="noopener norefferer" href="{{ partial "events/tickets.html" . }}">
                <i class="fa fa-cart-shopping me-1"></i>
                Billets
            </a>
        {{ end }}
    </td>
</tr>
