{{ $padding := cond (eq .index 1) "pb-2" "py-2" }}
<tr class="{{ cond (eq .index 1) "" "border-top" }} border-primary" style="--bs-border-opacity: 0.25;">
    <td class="{{ $padding }} text-nowrap">
        <span><i class="fa fa-2xs text-muted fa-clock ms-1"></i></span>
        {{ partial "datetime.html" (dict "date" .event.Params.eventDate "includeTime" true) }}
    </td>

    <!-- Locations -->
    <td class="{{ $padding }} text-white text-nowrap">
        <span><i class="fa fa-xs text-muted fa-map-marker-alt ms-1"></i></span>
        {{ partial "locations/link.html" .event.Params.locationId }}
    </td>

    <!-- Artists -->
    <td class="{{ $padding }} text-white">
        <span><i class="fa fa-xs text-muted fa-music ms-1"></i></span>
        {{ range $index, $artist := .event.GetTerms "artists" }}
            {{- $matched := false -}}
            {{- range (where site.RegularPages "Section" "artists") -}}
                {{- if (eq $artist.LinkTitle .LinkTitle) -}}
                    {{- $matched = true -}}
                    {{- if (gt $index 0) }}, {{ end -}}
                    <a href="{{ .RelPermalink }}">{{ .LinkTitle | safeHTML }}</a>
                {{- end -}}
            {{- end -}}
            {{- if not $matched -}}
                {{- if (gt $index 0) }}, {{ end -}}
                {{- $artist.LinkTitle -}}
            {{- end -}}
        {{- end }}
    </td>

    <td class="{{ $padding }} text-nowrap text-center">
        {{ if .event.Params.tickets }}
            <a target="_blank" rel="noopener norefferer" class="{{ cond .Params.full "text-warning" (cond .event.Params.cancelled "text-danger text-decoration-line-through" "text-primary") }}"
               href="{{- if .event.Params.tickets.seetickets }}{{ trim (partial "tickets/seetickets.html" .event.Params.tickets.seetickets) "\n\r " -}}{{ end -}}">
                <i class="fa fa-cart-shopping me-1"></i>
                Tickets
            </a>
        {{ end }}
    </td>
</tr>
