<div data-pagefind-ignore="all">
    <div id="events" class="mt-5 mb-3 d-flex justify-content-between align-items-center">
        {{ partial "titles/h2.html" "Concerts à venir" }}
        <a href="{{ .context.Path }}/calendar.ics" class="text-primary">
            <i class="fa fa-2xs fa-calendar"></i>
        </a>
    </div>
    <table class="table table-sm table-borderless">
        <thead>
            <tr>
                <th></th>
                <th width="100%"></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            {{ range $index, $event := .events }}
                {{ partial "events/list-entry.html" (dict "event" $event "index" $index) }}
            {{ end }}
        </tbody>
    </table>
    {{ if eq .events.Len 0 }}
        <p class="small text-muted text-center">Aucun concert annoncé</p>
    {{ end }}
</div>
