<div id="events" data-pagefind-ignore="all" hidden data-events="{{ .query }}">
    {{- if .context.OutputFormats.Get "ics" -}}
        {{- with .context.OutputFormats.Get "ics" -}}
            {{- partial "titles/h3.html" (dict "title" "Concerts à venir" "link" .RelPermalink "linkText" " " "linkIcon" "fa-calendar") -}}
        {{- end -}}
    {{- else -}}
        {{- partial "titles/h3.html" (dict "title" "Concerts à venir") -}}
    {{- end -}}
    <table class="table table-sm table-borderless">
        <thead>
            <tr>
                <th></th>
                <th width="100%"></th>
                <th></th>
            </tr>
        </thead>

        <tbody></tbody>
    </table>
</div>
