{{- /*
    Cached index of album reviews, grouped by artist id.
    Returns a scratch with:
      - "artists" : artist id -> slice of album pages (most recent first)
*/ -}}
{{- $cache := newScratch -}}
{{- $byArtist := dict -}}
{{- range (where site.RegularPages "Section" "albums").ByDate.Reverse -}}
    {{- $album := . -}}
    {{- range .Params.artists -}}
        {{- $id := . -}}
        {{- $current := index $byArtist $id | default slice -}}
        {{- $byArtist = merge $byArtist (dict $id ($current | append $album)) -}}
    {{- end -}}
{{- end -}}
{{- $cache.Set "artists" $byArtist -}}
{{- return $cache -}}
