{{ partial "cover.html" . }}

<div class="container">
    {{ partial "social/links.html" . }}

    <div class="d-flex">
        <p class="flex-grow-1">
            {{ range $.Params.artists }}{{ partial "artists/badge.html" . }}{{ end }}
        </p>
        <p>
            <small class="ms-2">{{ partial "format/datetime.html" (dict "date" .Date) }}</small>
            <small class="ms-2">{{ partial "rank.html" .Params.rank }}</small>
        </p>
    </div>
    <p class="small">{{ .Params.subtitle }}</p>
    <hr>

    {{ partial "albums/player.html" . }}
    {{ partial "content.html" . }}
    {{ partialCached "comments.html" . }}
</div>
