// Colors
$primary: #c5f853;
//$secondary:     $gray-600 !default;
$success: #eafcb5;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light: #fafafa;
$dark: #000000;

$body-bg: $dark;
$body-color: $light;

// Fonts
$font-family-base: 'Noto Sans', sans-serif;
$font-weight-base: 200;

$headings-font-family: 'Londrina Solid', sans-serif;
$headings-font-weight: 300;

// Links
$link-decoration: none;
