{{ partial "cover.html" . }}

<div class="container">
    {{ partial "social.html" . }}
    {{ partial "content.html" . }}

    {{ partial "news/list.html" (dict "context" . "news" (where (where .Site.Pages "Section" "news") ".Params.festivals" "intersect" (slice .Title))) }}
    {{ partial "events/list.html" (dict "context" . "events" (where (where .Site.Pages "Section" "events") ".Params.festivals" "intersect" (slice .Title))) }}
    {{ partial "reports/list.html" (dict "context" . "reports" (where (where .Site.Pages "Section" "reports") ".Params.festivals" "intersect" (slice .Title))) }}
</div>
