<div data-pagefind-ignore="all">
    <h4 class="mt-5 mb-4 p-3 bg-primary text-dark">Critiques d'albums</h4>
    {{ $count := 0 }}
    {{ range (where $.Site.RegularPages "Section" "albums") }}
        {{ $page := . }}
        {{ if eq .Params.artist $.Title }}
            {{ $count = add $count 1 }}
            {{ partial "report-entry.html" $page }}
        {{ end }}
    {{ end }}
    {{ if eq $count 0 }}
        <p class="small text-muted text-center">Aucune critique d'album</p>
    {{ end }}
</div>
