{{ $content := .Content }}
{{ range $.Site.RegularPages }}
    {{ $link := printf "<a href='%s'>%s</a>" .RelPermalink .LinkTitle }}
    {{ $content = (replace $content .LinkTitle $link) | safeHTML }}
{{ end }}
{{ range $.GetTerms "artists" }}
    {{ $content = (replace $content .LinkTitle (printf "<a href='%s'>%s</a>" .RelPermalink .LinkTitle)) | safeHTML }}
{{ end }}
{{ range $.GetTerms "festivals" }}
    {{ $content = (replace $content .LinkTitle (printf "<a href='%s'>%s</a>" .RelPermalink .LinkTitle)) | safeHTML }}
{{ end }}
{{ range $.GetTerms "albums" }}
    {{ $content = (replace $content .LinkTitle (printf "<a href='%s'>%s</a>" .RelPermalink .LinkTitle)) | safeHTML }}
{{ end }}
{{ $content }}
