{{ $cover := .Resources.Get (.Params.cover | default "cover.jpg") }}
{{ if $cover }}
    <div class="cover position-relative d-flex flex-column align-content-end mb-4">
        <img src="{{ $cover.Permalink | safeURL }}"
             alt="{{ .Title }}"
             width="{{ $cover.Width }}" height="{{ $cover.Height }}"
             fetchpriority="high" decoding="async"
             class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" />
        <div data-pagefind-meta="image[data-src], image_alt[data-alt]"
             data-src="{{ $cover.Permalink }}"
             data-alt="{{ .Title }}"
             class="backdrop-blur position-absolute w-100 h-100"
        ></div>

        <div class="flex-grow-1"></div>
        <div class="container z-1 p-0 position-relative d-flex align-items-center">
            <div class="position-absolute bottom-0 bg-dark w-100 h-100 opacity-25 rounded-top-1"></div>
            <h1 class="position-relative m-0 px-4 py-3 text-primary flex-grow-1"
                data-pagefind-meta="title"
            >
                {{ .Title }}
            </h1>
            <p class="position-relative fs-4 mb-0 me-4">
                {{ partial "social/links.html" . }}
            </p>
        </div>
    </div>
{{ else }}
    <div data-pagefind-meta="image[data-src], image_alt[data-alt]"
         data-src="/cover-empty.jpg"
         data-alt="{{ .Title }}"
         class="d-none"
    ></div>

    <div class="container mb-4">
        <div class="pb-3 mb-3 d-flex justify-content-between align-items-end border-bottom border-primary border-1">
            <div class="d-flex align-items-center gap-3">
                <span class="d-inline-block bg-primary flex-shrink-0" style="width:18px; height:18px;"></span>
                <h1 class="text-white text-uppercase" data-pagefind-meta="title">
                    {{ .Title }}
                </h1>
            </div>
            <p class="fs-5 mb-0">
                {{ partial "social/links.html" . }}
            </p>
        </div>
    </div>
{{ end }}
