{{ partial "cover.html" . }}

<div class="container">
    {{ partial "social.html" . }}
    {{ partial "content.html" . }}

    <div data-pagefind-ignore="all">
        <h4 class="mt-5 mb-4 p-3 bg-primary text-dark">Actualités</h4>
        {{ $count := 0 }}
        {{ range (where $.Site.RegularPages "Section" "news") }}
            {{ $page := . }}
            {{ range .GetTerms "artists" }}
                {{ if eq .LinkTitle $.Title }}
                    {{ $count = add $count 1 }}
                    {{ partial "report-entry.html" $page }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if eq $count 0 }}
            <p class="small text-muted text-center">Aucune actualité récente</p>
        {{ end }}
    </div>

    <div data-pagefind-ignore="all">
        <h4 class="mt-5 mb-4 p-3 bg-primary text-dark">Chroniques de concerts</h4>
        {{ $count = 0 }}
        {{ range $.Site.RegularPages }}
            {{ $page := . }}
            {{ range .GetTerms "festivals" }}
                {{ if eq .LinkTitle $.Title }}
                    {{ $count = add $count 1 }}
                    {{ partial "report-entry.html" $page }}
                {{ end }}
            {{ end }}
        {{ end }}
        {{ if eq $count 0 }}
            <p class="small text-muted text-center">Aucune chronique de concert</p>
        {{ end }}
    </div>
</div>
