{{ partial "cover.html" . }}

<div class="container">
    {{ partial "content.html" . }}

    <div data-pagefind-ignore="all">
        <h4 class="mt-5 mb-4 p-3 bg-primary text-dark">Chroniques de concerts</h4>
        {{ range $.Site.RegularPages }}
            {{ $page := . }}
            {{ range .GetTerms "festivals" }}
                {{ if eq .LinkTitle $.Title }}
                    {{ partial "report-entry.html" $page }}
                {{ end }}
            {{ end }}
        {{ end }}
    </div>
</div>
