<div class="bg-primary text-dark p-2 p-sm-4 mt-5 small">
    <div class="d-flex justify-content-evenly">
        <div class="mx-2 mx-sm-5">
            <a href="/">
                <img class="d-block d-sm-none" src="/logo.png" width="80px" alt="{{ .Site.Title }}" />
                <img class="d-none d-sm-block" src="/logo.png" width="96px" alt="{{ .Site.Title }}" />
            </a>
        </div>

        <div class="flex-grow-1 d-none d-sm-block"></div>

        <div class="mt-4 mx-2 mx-sm-5">
            <h6 class="fw-semibold">À propos</h6>
            <p class="mb-1"><a class="text-dark" href="/legal/conditions-of-use">Conditions d'utilisation</a></p>
        </div>

        <div class="mt-4 mx-2 mx-sm-5">
            <h6 class="fw-semibold">
                <a class="text-dark" href="/contact">Nous contacter</a>
            </h6>
            <p class="mb-1 fs-3">
                <a class="text-dark" href="https://instagram.com/muzic.live_"><i class="fab fa-instagram"></i></a>
                <a class="text-dark" href="https://facebook.com/muzic.live0"><i class="fab fa-facebook"></i></a>
                <a class="text-dark" href="mailto:hello@muzic.live"><i class="fa fa-envelope"></i></a>
            </p>
        </div>
    </div>
    <p class="text-center small mt-4">
        <small>Tous droits réservés, textes et photos sont réservés à leurs auteurs respectifs.</small>
    </p>
</div>
