{{ if . }}
    {{ $rank := div . 2.0 }}
    <span class="text-primary"
          data-pagefind-meta="rank: {{ $rank }}"
          data-pagefind-ignore
    >
        {{ range seq 0 4 }}
            {{ if gt $rank . }}
                {{ if gt $rank (add . 0.5) }}
                    <i class="fa fa-star"></i>
                {{ else }}
                    <i class="fa fa-star-half-stroke"></i>
                {{ end }}
            {{ else }}
                <i class="far fa-star"></i>
            {{ end }}
        {{ end }}
    </span>
{{ end }}
