<h3 class="pt-3"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
<div class="d-flex pb-2">
    {{ if .Params.cover }}
        <a href="{{ .RelPermalink }}">
            <img src="{{ urls.JoinPath .Path .Params.cover | absURL }}" width="256px" height="170px" class="me-3 mb-2" />
        </a>
    {{ end }}
    <div class="small text-muted">
        {{ if eq .Section "reports" }}
            {{ partial "time.html" .Date }}
        {{ end }}
        <div class="pt-1">{{ .Summary }}</div>
    </div>
</div>
