<div class="pb-2 px-3 px-sm-0" data-pagefind-ignore="all">
    {{ if .Params.cover }}
        <div class="float-sm-start d-flex align-content-center me-sm-3 my-2 mx-auto" style="width: 350px">
            <a href="{{ .RelPermalink }}" class="h-100">
                <img src="{{ urls.JoinPath .Path .Params.cover | absURL }}" width="100%" class="rounded-1" />
            </a>
        </div>
    {{ end }}
    <h4>
        <a href="{{ .RelPermalink }}">
            {{ if .Params.artist }}
                {{ .Params.artist }} -
            {{ end }}
            {{ .LinkTitle }}
        </a>
    </h4>
    <div class="small text-body-tertiary">
        {{ range $.GetTerms "locations" }}
            {{ .LinkTitle }},
        {{ end }}
        {{ if or (eq .Section "reports") (eq .Section "news") }}
            <span class="me-2">{{ partial "time.html" .Date }}</span>
        {{ end }}
        {{ if .Params.rank }}
            <span>{{ partial "rank.html" .Params.rank }}</span>
        {{ end }}
        <div class="pt-1 text-muted text-justify text-sm-start">{{ .Content | plainify | truncate 1000 }}</div>
        <p class="text-end" style="clear: both">
            <a href="{{ .RelPermalink }}">Lire la suite</a>
        </p>
    </div>
</div>
