<p class="text-end fs-4 mb-4">
    {{ if .Params.socials.web }}
        <a class="me-2 align-middle" href="{{ .Params.socials.web }}" target="_blank" rel="noreferrer noopener"><i class="fa fa-globe"></i></a>
    {{ end }}
    {{ if .Params.socials.facebook }}
        <a class="me-2 align-middle" href="https://www.facebook.com/{{ .Params.socials.facebook }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-facebook"></i></a>
    {{ end }}
    {{ if .Params.socials.instagram }}
        <a class="me-2 align-middle" href="https://www.instagram.com/{{ .Params.socials.instagram }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-instagram"></i></a>
    {{ end }}
    {{ if .Params.socials.tiktok }}
        <a class="me-2 align-middle" href="https://www.tiktok.com/{{ .Params.socials.tiktok }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-tiktok"></i></a>
    {{ end }}
    {{ if .Params.socials.x }}
        <a class="me-2 align-middle" href="https://x.com/{{ .Params.socials.x }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-x-twitter"></i></a>
    {{ end }}
    {{ if .Params.socials.threads }}
        <a class="me-2 align-middle" href="https://www.threads.com/{{ .Params.socials.threads }}/" target="_blank" rel="noreferrer noopener"><i class="fab fa-threads"></i></a>
    {{ end }}
    {{ if .Params.socials.bandcamp }}
        <a class="me-2 align-middle" href="https://{{ .Params.socials.bandcamp }}.bandcamp.com/" target="_blank" rel="noreferrer noopener"><i class="fab fa-bandcamp"></i></a>
    {{ end }}
    {{ if .Params.socials.youtube }}
        <a class="me-2 align-middle" href="https://www.youtube.com/{{ .Params.socials.youtube }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-youtube"></i></a>
    {{ end }}
    {{ if .Params.socials.whatsapp }}
        <a class="me-2 align-middle" href="https://www.whatsapp.com/channel/{{ .Params.socials.whatsapp }}/" target="_blank" rel="noreferrer noopener"><i class="fab fa-whatsapp"></i></a>
    {{ end }}
    {{ if .Params.socials.tidal }}
        <a class="me-2 align-middle" href="https://tidal.com/artist/{{ .Params.socials.tidal }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-tidal"></i></a>
    {{ end }}
    {{ if .Params.socials.spotify }}
        <a class="me-2 align-middle" href="https://open.spotify.com/artist/{{ .Params.socials.spotify }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-spotify"></i></a>
    {{ end }}
    {{ if .Params.socials.soundcloud }}
        <a class="me-2 align-middle" href="https://soundcloud.com/{{ .Params.socials.soundcloud }}" target="_blank" rel="noreferrer noopener"><i class="fab fa-soundcloud"></i></a>
    {{ end }}
</p>
