{{- $image := partial "seo/image.html" . -}}
{{- $data := dict
    "@context" "https://schema.org"
    "@type" "MusicVenue"
    "name" .Title
    "url" .Permalink
    "sameAs" (partial "social/json-ld.html" .)
-}}
{{- with $image }}{{ $data = merge $data (dict "image" .) }}{{ end -}}
{{- with .Params.address }}{{ $data = merge $data (dict "address" .) }}{{ end -}}
{{- with .Params.coordinates -}}
    {{- $data = merge $data (dict "geo" (dict "@type" "GeoCoordinates" "latitude" .latitude "longitude" .longitude)) -}}
{{- end -}}
{{- return $data -}}
