{{/* --- Reports --- */}}
{{- $venues := partial "venues/descendants.html" .Params.id -}}
{{- $byVenue := (partialCached "index/reports.html" .).Get "venues" -}}
{{- $reports := slice -}}
{{- range $venues -}}
    {{- range (index $byVenue . | default slice) -}}
        {{- if not (in $reports .) -}}
            {{- $reports = $reports | append . -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
{{- $reports = sort $reports "Date" "desc" -}}
{{ partial "reports/list.html" (dict "context" . "reports" (first 5 $reports) "title" "Dernières chroniques de concerts") }}
