$glide-class: 'glide';
$glide-element-separator: '__';
$glide-modifier-separator: '--';


.#{$glide-class} {
    // Arrows
    &#{$glide-element-separator}arrow {
        color: $primary;
        background-color: transparent;
        border: none;
        border-radius: 2px;

        transition: background-color 150ms ease-in-out;

        &:hover {
            background-color: $primary;
            color: $dark;
        }
    }

    // Bullets
    &#{$glide-element-separator}bullet {
        background-color: $primary-muted;
        width: 20px;
        height: 7px;
        border-radius: 4px;

        &:hover,
        &:focus {
            border: 2px solid $primary-muted;
            background-color: $primary-muted;
        }

        &#{$glide-modifier-separator}active {
            background-color: $primary;
        }
    }
}
