#search-open {
    @include media-breakpoint-up(sm) {
        flex: 0 0 auto;
        width: 300px;
    }
}

#search-modal {
    width: 780px;
    max-width: calc(100% - 2rem);
    max-height: calc(100vh - 6rem);
}

#search-results-container {
    background-color: $dark;
    overflow-y: scroll;
}

#search-results {
    padding: 2.5rem 0;
}
