// Colors
$primary: #c5f853;
//$secondary:     $gray-600 !default;
$success: #eafcb5;
//$info:          $cyan !default;
//$warning:       $yellow !default;
//$danger:        $red !default;
$light: #fafafa;
$dark: #000000;

$body-bg: $dark;
$body-color: $light;

$primary-emphasis: lighten($primary, 0.5);
$primary-muted: transparentize($primary, 0.5);

// Fonts
$font-family-base: 'Noto Sans', sans-serif;
$font-weight-base: 200;

$headings-font-family: 'Londrina Solid', sans-serif;
$headings-font-weight: 300;
$headings-margin-top: 1em;

// Links
$link-decoration: none;

// Navbar
$navbar-padding-y: 2.5rem;

$navbar-dark-active-color: $primary;
$navbar-dark-color: $primary-muted;
$navbar-dark-hover-color: $primary;

$navbar-toggler-focus-width: 0;

// Buttons
$btn-border-radius: 2px;

// Pagination
$pagination-border-width: 0;
$pagination-border-radius: 2px;

$pagination-active-bg: $primary;
$pagination-active-color: $dark;

$pagination-hover-bg: $primary-emphasis;

$pagination-disabled-bg: $dark;
$pagination-disabled-color: $light;
