{{- $id := delimit (shuffle (seq 1 9)) "" -}}
{{- $pictures := .Page.Resources.Match (path.Join .Params.pictures "*") -}}
{{- if eq .Params.reverse "true" -}}
    {{- $pictures = sort $pictures "Name" "desc" -}}
{{- else -}}
    {{- $pictures = sort $pictures "Name" "asc" -}}
{{- end -}}

{{- $creditName := "" -}}
{{- $creditUrl := "" -}}
{{- with .Params.author -}}
    {{- $author := . -}}
    {{- with resources.Get "authors.json" | transform.Unmarshal -}}
        {{- with index . $author -}}
            {{- $creditName = .name -}}
            {{- $creditUrl = .link -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

<div id="gallery-{{ $id }}" class="gallery d-print-none"{{ with $creditName }} data-credit-name="{{ . }}"{{ end }}{{ with $creditUrl }} data-credit-url="{{ . }}"{{ end }}>
    {{- range $pictures -}}
        {{- $thumb := .Resize "480x q80" -}}
        <a href="{{ .Permalink }}" aria-label="{{ $.Params.alt }}">
            <img src="{{ $thumb.Permalink }}"
                 alt="{{ $.Params.alt }}"
                 width="{{ $thumb.Width }}" height="{{ $thumb.Height }}"
                 loading="lazy" decoding="async">
        </a>
    {{- end -}}
</div>

{{- with .Params.author -}}
    {{ partial "copyright.html" . }}
{{- end -}}
