{{- /* Structured data (schema.org JSON-LD). One partial per page type. */ -}}

{{- if .IsHome -}}
    <script type="application/ld+json">{{ partial "home/json-ld.html" . | jsonify (dict "indent" "  ") | safeJS }}</script>
{{- else if eq .Section "albums" -}}
    <script type="application/ld+json">{{ partial "albums/json-ld.html" . | jsonify (dict "indent" "  ") | safeJS }}</script>
{{- else if eq .Section "artists" -}}
    <script type="application/ld+json">{{ partial "artists/json-ld.html" . | jsonify (dict "indent" "  ") | safeJS }}</script>
{{- else if eq .Section "festivals" -}}
    <script type="application/ld+json">{{ partial "festivals/json-ld.html" . | jsonify (dict "indent" "  ") | safeJS }}</script>
{{- else if eq .Section "venues" -}}
    <script type="application/ld+json">{{ partial "venues/json-ld.html" . | jsonify (dict "indent" "  ") | safeJS }}</script>
{{- else if eq .Section "events" -}}
    <script type="application/ld+json">{{ partial "events/json-ld.html" . | jsonify (dict "indent" "  ") | safeJS }}</script>
{{- else if eq .Section "news" -}}
    <script type="application/ld+json">{{ partial "news/json-ld.html" . | jsonify (dict "indent" "  ") | safeJS }}</script>
{{- else if eq .Section "reports" -}}
    <script type="application/ld+json">{{ partial "reports/json-ld.html" . | jsonify (dict "indent" "  ") | safeJS }}</script>
{{- end -}}

{{- if .IsPage -}}
    <script type="application/ld+json">{{ partial "seo/breadcrumb-json-ld.html" . | jsonify (dict "indent" "  ") | safeJS }}</script>
{{- end -}}
