<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ .Site.Config.Services.GoogleAnalytics.ID }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <div class="d-flex flex-column h-100">
            <header>
                {{ partial "header.html" . }}
            </header>
            <main class="flex-grow-1" data-pagefind-body>
                {{ block "main" . }}{{ end }}
            </main>
            <footer>
                {{ partial "footer.html" . }}
            </footer>
        </div>

        {{ partial "search-results.html" }}
    </body>
</html>
