{{ define "main" }}
    <div class="bg-primary text-dark w-100" style="height: 600px;">

    </div>

    <div class="container mt-4" data-pagefind-ignore="all">
        <!-- Last live reports -->
        <div class="row">
            <div class="col-12 col-lg-8">
                <h3 class="mb-4 p-3 bg-primary text-dark">Dernières chroniques de concerts</h3>
                {{ range (where site.RegularPages "Section" "reports").Limit 5 }}
                    {{ partial "report-entry.html" . }}
                {{ end }}
                <p class="text-center">
                    <a class="btn btn-primary" href="/reports">Voir plus</a>
                </p>
            </div>

            <div class="col-12 col-lg-4">
                <h3 class="mb-4 p-3 bg-primary text-dark">Dernières critiques d'albums</h3>
                {{ range (where site.RegularPages "Section" "albums").Limit 2 }}
                    {{ partial "report-entry.html" . }}
                {{ end }}
                <p class="text-center">
                    <a class="btn btn-primary" href="/albums">Voir plus</a>
                </p>
            </div>
        </div>

    </div>
{{ end }}
