{{ define "main" }}
    <div>
        <!-- Content -->
        {{ if eq .Section "artists" }}
            {{ partial "artist.html" . }}
        {{ else if eq .Section "festivals" }}
            {{ partial "festival.html" . }}
        {{ else if eq .Section "reports" }}
            {{ partial "report.html" . }}
        {{ else }}
            {{ partial "content.html" . }}
        {{ end }}

        <!-- Comments -->
        {{ if eq .Section "reports" }}
            <div data-pagefind-ignore="all">
                <h4 class="mt-3 p-3 bg-primary text-dark">Commentaires</h4>
                {{ partial "disqus.html" . }}
            </div>
        {{ end }}
    </div>
{{ end }}
