{{ define "main" }}
    <h1>{{ .Title }}</h1>

    <div class="d-flex flex-row justify-content-between mb-5">
        {{ $dateMachine := .Date | time.Format "1970-01-01T00:00:00-00:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time class="text-body-tertiary" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>

        <span>
            {{ range $.GetTerms "artists" }}
                <a class="badge bg-primary text-dark ms-1" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
            {{ range $.GetTerms "festivals" }}
                <a class="badge bg-success text-dark ms-1" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </span>
    </div>

    {{ $content := .Content }}

    {{ $content }}

    <!-- TODO view others ? -->
{{ end }}
