{{ define "main" }}
    <div>
        <!-- Content -->
        {{ if eq .Section "news" }}
            {{ partial "new.html" . }}
        {{ else if eq .Section "artists" }}
            {{ partial "artist.html" . }}
        {{ else if eq .Section "festivals" }}
            {{ partial "festival.html" . }}
        {{ else if eq .Section "locations" }}
            {{ partial "location.html" . }}
        {{ else if eq .Section "reports" }}
            {{ partial "report.html" . }}
        {{ else if eq .Section "albums" }}
            {{ partial "album.html" . }}
        {{ else }}
            <div class="container" data-pagefind-ignore="all">
                <h1 class="mb-3 px-4 py-3 bg-primary text-dark">{{ .Title }}</h1>
                {{ partial "content.html" . }}
            </div>
        {{ end }}
    </div>
{{ end }}
