{{ define "main" }}
    <div class="container" data-pagefind-ignore="all">
        {{ partial "titles/h1.html" (dict "title" .Title) }}

        {{ .Content }}

        <!-- Pages -->
        {{ $paginator := .Paginate (where .Pages "Section" "eq" .Section).ByDate.Reverse 10 }}
        {{ range $index, $report := $paginator.Pages }}
            {{ partial "reports/list-entry.html" (dict "report" $report "index" $index) }}
        {{ end }}
        {{ partial "pagination.html" . }}
    </div>
{{ end }}
