{{ define "main" }}
    <div class="container" data-pagefind-ignore="all">
        <div class="mb-4 p-3 border-bottom border-primary border-4">
            <h1 class="m-0 px-2 py-1">
                {{ .Title }}
            </h1>
        </div>

        {{ if eq .Section "artists" }}
            {{ partial "artists/taxonomy.html" . }}
        {{ else if eq .Section "albums" }}
            {{ partial "albums/taxonomy.html" . }}
        {{ else if eq .Section "festivals" }}
            {{ partial "festivals/taxonomy.html" . }}
        {{ else if eq .Section "events" }}
            {{ partial "events/taxonomy.html" . }}
        {{ else if eq .Section "reports" }}
            {{ partial "reports/taxonomy.html" . }}
        {{ else if eq .Section "news" }}
            {{ partial "news/taxonomy.html" . }}
        {{ end }}
    </div>
{{ end }}
