{{ define "main" }}
    <div class="container" data-pagefind-ignore="all">
        <h1 class="mb-4 p-3 bg-primary text-dark">{{ .Title }}</h1>

        <!-- Pages -->
        {{ $pages := where site.RegularPages "Section" .Section }}
        {{ if (in (slice "reports" "albums" "news") .Section) }}
            {{ $pages = $pages.ByDate.Reverse }}
        {{ else }}
            {{ $pages = $pages.ByTitle }}
        {{ end }}
        {{ $paginator := .Paginate $pages 10 }}
        {{ range $index, $page := $paginator.Pages }}
            {{ if eq .Section "artists" }}
                {{ partial "artists/list-entry.html" (dict "artist" $page "index" $index) }}
            {{ else if eq .Section "festivals" }}
                {{ partial "festivals/list-entry.html" (dict "festival" $page "index" $index) }}
            {{ else }}
                {{ partial "reports/list-entry.html" (dict "report" $page "index" $index) }}
            {{ end }}
        {{ end }}
        {{ partial "pagination.html" . }}
    </div>
{{ end }}
