{{ define "main" }}
    <div class="container" data-pagefind-ignore="all">
        {{ partial "titles/h1.html" (dict "title" .Title) }}

        {{ if eq .Section "artists" }}
            {{ partial "artists/taxonomy.html" . }}
        {{ else if eq .Section "albums" }}
            {{ partial "albums/taxonomy.html" . }}
        {{ else if eq .Section "festivals" }}
            {{ partial "festivals/taxonomy.html" . }}
        {{ else if eq .Section "events" }}
            {{ partial "events/taxonomy.html" . }}
        {{ else if eq .Section "reports" }}
            {{ partial "reports/taxonomy.html" . }}
        {{ else if eq .Section "news" }}
            {{ partial "news/taxonomy.html" . }}
        {{ end }}
    </div>
{{ end }}
