{{ define "main" }}
    <div class="container" data-pagefind-ignore="all">
        <h1 class="mb-4 p-3 bg-primary text-dark">{{ .Title }}</h1>

        {{ if eq .Section "locations" }}
            {{ with .Params.locationId }}
                {{ partial "locations/link.html" . }}
            {{ end }}
        {{ end }}

        {{ .Content }}

        <!-- Pages -->
        {{ $paginator := .Paginate (cond (in (slice "reports" "festivals" "locations") .Section) (where .Pages "Section" "eq" "reports").ByDate.Reverse .Pages.ByTitle) 10 }}
        {{ range $index, $report := $paginator.Pages }}
            {{ partial "reports/list-entry.html" (dict "report" $report "index" $index) }}
        {{ end }}
        {{ partial "pagination.html" . }}
    </div>
{{ end }}
