{{ define "main" }}
    {{ if eq .Section "artists" }}
        {{ partial "artists/content.html" . }}
    {{ else if eq .Section "festivals" }}
        {{ partial "festivals/content.html" . }}
    {{ else if eq .Section "venues" }}
        {{ partial "venues/content.html" . }}
    {{ else }}
        <div class="container" data-pagefind-ignore="all">
            {{ partial "titles/h1.html" (dict "title" .Title) }}

            {{ .Content }}

            <!-- Pages -->
            {{ $paginator := .Paginate (cond (in (slice "reports" "festivals" "venues") .Section) (where .Pages "Section" "eq" "reports").ByDate.Reverse .Pages.ByTitle) 10 }}
            {{ range $index, $report := $paginator.Pages }}
                {{ partial "reports/list-entry.html" (dict "report" $report "index" $index) }}
            {{ end }}
            {{ partial "pagination.html" . }}
        </div>
    {{ end }}
{{ end }}
