<div class="pb-2 px-3 px-sm-0" data-pagefind-ignore="all">
    <div class="float-sm-start d-flex align-content-center me-sm-3 my-2 mx-auto mw-100" style="width: 350px">
        <a href="{{ .artist.RelPermalink }}" class="h-100">
            {{ $cover := .artist.Resources.Get .artist.Params.cover }}
            {{ if $cover }}
                <img src="{{ $cover.Permalink }}" alt="{{ .artist.LinkTitle }}" loading="lazy" decoding="async" width="100%" class="rounded-1" />
            {{ else }}
                <img src="/cover-empty.jpg" alt="{{ .artist.LinkTitle }}" loading="lazy" decoding="async" width="100%" class="rounded-1" />
            {{ end }}
        </a>
    </div>

    <h4><a href="{{ .artist.RelPermalink }}">{{ .artist.LinkTitle }}</a></h4>
    <div class="small text-body-tertiary">
        {{ partial "locations/label.html" .artist.Params.locationId }}
        <div class="pt-1 text-muted text-justify text-sm-start">{{ .artist.Content | plainify | truncate 1000 }}</div>
        <p class="text-end" style="clear: both">
            <a href="{{ .artist.RelPermalink }}">Lire la suite</a>
        </p>
    </div>
</div>
