{{- $memberOf := slice -}}
{{- with (partialCached "artists/member-of-lookup.html" .).Get (string .Params.id) -}}
    {{- $memberOf = . -}}
{{- end -}}
{{- if ne ($memberOf | len) 0 -}}
    <div id="members" class="my-4" data-pagefind-ignore="all">{{ partial "titles/h3.html" (dict "title" "Membre des groupes") }}</div>
    <div class="row row-cols-1 row-cols-md-4">
    {{- range $index, $membership := $memberOf -}}
        <div class="col">
            <div class="rounded overflow-hidden position-relative {{ cond (eq $index 0) "mb-3" "" }}" style="height:clamp(160px,21vw,235px);">
                {{- partial "artists/member-hero.html" . -}}
            </div>
        </div>
    {{- end -}}
    </div>
{{- end -}}
