<div class="d-flex justify-content-between align-items-end pb-{{ .spacing }} mb-{{ .spacing }} mt-4 border-bottom border-1 border-primary">
    <h{{ .level }} class="d-flex align-items-center gap-{{ .gap }} mb-0 text-white text-uppercase">
        <span class="d-inline-block bg-primary flex-shrink-0" style="width:{{ .size }}px; height:{{ .size }}px;"></span>
        {{ .title }}
    </h{{ .level }}>
    {{ if .link }}
    <a class="text-uppercase text-primary small fw-bolder" href="{{ .link }}">
        {{ default "Tout voir" .linkText }}
        <i class="fa {{ default "fa-chevron-right fa-xs" .linkIcon }}"></i>
    </a>
    {{ end }}
</div>
