{{ partial "cover.html" . }}

<div class="container">
    <div class="d-flex flex-row justify-content-between mb-5">
        <span>
            {{ range $.GetTerms "artists" }}{{ partial "artists/badge.html" . }}{{ end }}
            {{ range $.GetTerms "albums" }}{{ partial "albums/badge.html" . }}{{ end }}
            {{ range $.GetTerms "festivals" }}{{ partial "festivals/badge.html" . }}{{ end }}
        </span>
        <small class="text-nowrap">
            {{ $locations := slice }}
            {{ with .Params.locationId }}
                {{ partial "locations/link.html" . }}
            {{ end }}
            {{ partial "format/date.html" .Date }}
        </small>
    </div>

    {{ partial "content.html" . }}
    {{ partialCached "comments.html" . }}
</div>
