{{ partial "cover.html" . }}

<div class="container">
    <div class="d-flex flex-row justify-content-between mb-5">
        <span>
            {{ with $.Params.festival }}{{ partial "festivals/badge.html" . }}{{ end }}
            {{ range $.Params.albums }}{{ partial "albums/badge.html" . }}{{ end }}
            {{ range $.Params.artists }}{{ partial "artists/badge.html" . }}{{ end }}
        </span>
        <small class="text-nowrap">
            {{ $locations := slice }}
            {{ with .Params.venue }}
                {{ partial "venues/link.html" . }}
            {{ end }}
            {{ partial "format/date.html" .Date }}
        </small>
    </div>

    {{ partial "content.html" . }}
    {{ partialCached "comments.html" . }}
</div>
